{% extends 'dbase.html' %}

{% load static %}

{% block body %}




{% include 'includes/d_sidebar.html' %}



{% include 'includes/navbar.html' %}



{% include 'includes/alerts.html' %}


<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Portfolio Builder</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Telloquent</a></li>
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                                <li class="breadcrumb-item active">Create Portfolio</li>
                            </ol>
                        </div><!--end col-->
                        <div class="col-auto align-self-center">
                            <a href="#" class="btn btn-sm btn-outline-primary" id="Dash_Date">
                                <span class="day-name" id="Day_Name">Today:</span>&nbsp;
                                <span class="" id="Select_date">Jan 11</span>
                                <i data-feather="calendar" class="align-self-center icon-xs ms-1"></i>
                            </a>
                           
                        </div><!--end col-->  
                       

                    </div><!--end row-->                                                              
                </div><!--end page-title-box-->
            </div><!--end col-->
        </div><!--end row-->
        <!-- end page title end breadcrumb -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Build your Project Portfolio</h4>
                        <p class="text-muted mb-0">Create your categories to showcase to the customers</p>
                    </div><!--end card-header-->
                   
                    <div class="card-body">

                        
                        <button class="btn btn-secondary" onclick="history.back()"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</button>
                        <br><br>


                        <form class="form-horizontal auth-form" action="{% url 'add_portfolio' %}" method="POST" enctype="multipart/form-data">

                            {% csrf_token %}



                            
                            

                            <div class="form-group mb-2">
                                <label class="form-label" for="{{form.project_title.id_for_label}}">Project / Customer name </label> 
                                <div class="input-group">                                                                                         
                                    <input type="text" class="form-control" name="{{form.project_title.name}}" id="{{ form.project_title.id_for_label }}" placeholder="Enter First name" value = "{{form.project_title.value}}" >
                                </div>                                    
                            </div><!--end form-group--> 


                            <div class="form-group mb-2">
                                <label class="form-label" for="{{form.category.id_for_label}}">Select Category </label> 
                                <div class="input-group"> 
                                    {{form.category}}                                                                                        
                                    <!--input type="text" class="form-control" name="{{form.category.name}}" id="{{ form.category.id_for_label }}" placeholder="Enter First name" value = "{{form.category.value}}" -->
                                </div>                                    
                            </div><!--end form-group--> 


                            <div class="form-group mb-2">
                                <label class="form-label" for="{{form.description.id_for_label}}">Description </label>
                                <div class="input-group">                                                                                         
                                    <input type="text" class="form-control" name="{{ form.description.name }}" id="{{ form.description.id_for_label }}" placeholder="Enter Last name" value = "{{form.description.value}}"> 
                                </div>                                    
                            </div><!--end form-group--> 

                            <div class="form-group mb-2">
                                <label class="form-label" for="{{form.price.id_for_label}}">Price Per squre feet / Lumpsum </label>
                                <div class="input-group">                                                                                         
                                    <input type="text" class="form-control" name="{{ form.price.name }}" id="{{ form.price.id_for_label }}" placeholder="Enter Last name" value = "{{form.price.value}}"> 
                                </div>                                    
                            </div><!--end form-group--> 


                            <div class="form-group mb-2">
                                <label class="form-label" for="{{form.image.id_for_label}}">Image </label>
                                <div class="input-group">           
                                    {{ form.image}}                                                                              
                                    <!--input type="file" class="form-control" name="{{ form.image.name }}" id="{{ form.image.id_for_label }}" placeholder="Enter Last name" value = "{{form.image.value}}"--> 
                                </div>                                    
                            </div><!--end form-group--> 


                            <div class="form-group mb-2">
                                <label class="form-label" for="{{form.is_available.id_for_label}}">is_available </label>
                                <div class="input-group">                                                                                         
                                    <input type="text" class="form-control" name="{{ form.is_available.name }}" id="{{ form.is_available.id_for_label }}" placeholder="Enter Last name" value = "{{form.is_available.value}}"> 
                                </div>                                    
                            </div><!--end form-group--> 



                            {% for field in form %}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <li style="color: red;">{{ error }}</li>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}


                          

                        <button type="submit" class="btn btn-info"><i class="fa fa-check" aria-hidden="true"></i> Create</button>
                        </form>



                        
                    </div><!--end card-body-->
                </div><!--end card-->
            </div> <!-- end col -->
        </div> <!-- end row -->


    </div><!-- container -->




{% endblock body %}