{% extends 'base.html' %}

{% load static %}

{% block body %}



<body class="account-body accountbg">

    <!-- Log In page -->
    <div class="container">
        <div class="row vh-100 d-flex justify-content-center">
            <div class="col-12 align-self-center">
                <div class="row">
                    <div class="col-lg-5 mx-auto">
                        <div class="card">
                            <div class="card-body p-0 auth-header-box">
                                <div class="text-center p-3">
                                    <a href="/" class="logo logo-admin">
                                        <img src="{% static 'webapp/images/tello.png' %}"  alt="logo" class="auth-logo">                                    </a>
                                    <h4 class="mt-3 mb-1 fw-semibold text-white font-18">Register your Design firm with Workrheo marketplace and get more customers.</h4>   
                                    <p class="text-muted  mb-0">Partner with us to continue to Telloquent.</p>  
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <ul class="nav-border nav nav-pills" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link fw-semibold" data-bs-toggle="tab" href="{% url 'login' %}" role="tab">Log In</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active fw-semibold" data-bs-toggle="tab" href="#Register_Tab" role="tab">Register as Builder</a>
                                    </li>
                                </ul>
                                 <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane p-3" id="LogIn_Tab" role="tabpanel">                                        
                                        <form class="form-horizontal auth-form" action="index.html">
            
                                            <div class="form-group mb-2">
                                                <label class="form-label" for="username">Username</label>
                                                <div class="input-group">                                                                                         
                                                    <input type="text" class="form-control" name="username" id="username" placeholder="Enter username">
                                                </div>                                    
                                            </div><!--end form-group--> 
                
                                            <div class="form-group mb-2">
                                                <label class="form-label" for="userpassword">Password</label>                                            
                                                <div class="input-group">                                  
                                                    <input type="password" class="form-control" name="password" id="userpassword" placeholder="Enter password">
                                                </div>                               
                                            </div><!--end form-group--> 
                
                                            <div class="form-group row my-3">
                                                <div class="col-sm-6">
                                                    <div class="custom-control custom-switch switch-success">
                                                        <input type="checkbox" class="custom-control-input" id="customSwitchSuccess">
                                                        <label class="form-label text-muted" for="customSwitchSuccess">Remember me</label>
                                                    </div>
                                                </div><!--end col--> 
                                                <div class="col-sm-6 text-end">
                                                    <a href="auth-recover-pw.html" class="text-muted font-13"><i class="dripicons-lock"></i> Forgot password?</a>                                    
                                                </div><!--end col--> 
                                            </div><!--end form-group--> 
                
                                            <div class="form-group mb-0 row">
                                                <div class="col-12">
                                                    <button class="btn btn-primary w-100 waves-effect waves-light" type="button">Log In <i class="fas fa-sign-in-alt ms-1"></i></button>
                                                </div><!--end col--> 
                                            </div> <!--end form-group-->                           
                                        </form><!--end form-->
                                        <div class="m-3 text-center text-muted">
                                            <p class="mb-0">Don't have an account ?  <a href="{% url 'registerUser' %}" class="text-primary ms-2">Free Resister</a></p>
                                        </div>
                                        <div class="account-social">
                                            <h6 class="mb-3">Or Login With</h6>
                                        </div>
                                        <div class="btn-group w-100">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Facebook</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Twitter</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Google</button>
                                        </div>
                                    </div>
                                    <div class="tab-pane active px-3 pt-3" id="Register_Tab" role="tabpanel">
                                        <form class="form-horizontal auth-form" action="{% url 'registerBuilder' %}" method="post" enctype="multipart/form-data">

                                            {% csrf_token %}
                                            
        
                                            <div class="form-group mb-2">
                                                <label class="form-label" for="{{ form.first_name.id_for_label }}">First name </label> 
                                                <div class="input-group">                                                                                         
                                                    <input type="text" class="form-control" name="{{ form.first_name.name }}" id="{{ form.first_name.id_for_label }}" placeholder="Enter First name" value = "{{form.first_name.value}}" >
                                                </div>                                    
                                            </div><!--end form-group--> 


                                            <div class="form-group mb-2">
                                                <label class="form-label" for="{{ form.last_name.id_for_label }}">Last name </label>
                                                <div class="input-group">                                                                                         
                                                    <input type="text" class="form-control" name="{{ form.last_name.name }}" id="{{ form.last_name.id_for_label }}" placeholder="Enter Last name" value = "{{form.last_name.value}}"> 
                                                </div>                                    
                                            </div><!--end form-group--> 

                                            <div class="form-group mb-2">
                                                <label class="form-label" for="{{ b_form.builder_name.id_for_label }}">Builder / Firm name </label>
                                                <div class="input-group">                                                                                         
                                                    <input type="text" class="form-control" name="{{ b_form.builder_name.name }}" id="{{ b_form.builder_name.id_for_label }}" placeholder="Enter Last name" value = "{{b_form.builder_name.value}}"> 
                                                </div>                                    
                                            </div><!--end form-group--> 

                                            <div class="form-group mb-2">
                                                <label class="form-label" for="{{ b_form.builder_license.id_for_label }}">Builder License / Registration details </label>
                                                <div class="input-group">                                                                                         
                                                    <input type="file" class="form-control" name="{{ b_form.builder_license.name }}" id="{{ b_form.builder_license.id_for_label }}" placeholder="Enter Last name" value = "{{b_form.builder_license.value}}"> 
                                                </div>                                    
                                            </div><!--end form-group--> 


                                            <div class="form-group mb-2">
                                                <label class="form-label" for="{{ form.username.id_for_label }}">Username </label>
                                                <div class="input-group">                                                                                         
                                                    <input type="text" class="form-control" name="{{ form.username.name }}" id="{{ form.username.id_for_label }}" placeholder="Enter Last name" value = "{{form.username.value}}"> 
                                                </div>                                    
                                            </div><!--end form-group--> 

                                            <div class="form-group mb-2">
                                                <label class="form-label" for="{{ form.email.id_for_label }}">Email </label>
                                                <div class="input-group">                                                                                         
                                                    <input type="text" class="form-control" name="{{ form.email.name }}" id="{{ form.email.id_for_label }}" placeholder="Enter Last name" value = "{{form.email.value}}"> 
                                                </div>                                    
                                            </div><!--end form-group--> 

                                            <!--div class="form-group mb-2">
                                                <label class="form-label" for="{{ form.phone_number.id_for_label }}">Phone Number </label>
                                                <div class="input-group">                                                                                         
                                                    <input type="text" class="form-control" name="{{ form.phone_number.name }}" id="{{ form.phone_number.id_for_label }}" placeholder="Enter Phone number" value = "{{form.phone_number.value}}"> 
                                                </div>                                    
                                            </div--><!--end form-group--> 

                                            <div class="form-group mb-2">
                                                <label class="form-label" for="{{ form.password.id_for_label }}">Passowrd </label>
                                                <div class="input-group">                                                                                         
                                                    <input type="text" class="form-control" name="{{ form.password.name }}" id="{{ form.password.id_for_label }}" placeholder="Enter Last name" value = "{{form.password.value}}"> 
                                                </div>                                    
                                            </div><!--end form-group--> 


                                            <div class="form-group mb-2">
                                                <label class="form-label" for="{{ form.confirm_password.id_for_label }}">Confirm password </label>
                                                <div class="input-group">                                                                                         
                                                    <input type="text" class="form-control" name="{{ form.confirm_password.name }}" id="{{ form.confirm_password.id_for_label }}" placeholder="Enter Last name" value = "{{form.confirm_password.value}}"> 
                                                </div>                                    
                                            </div><!--end form-group--> 


        

                

        

                                            

                
                                            <div class="form-group row my-3">
                                                <div class="col-sm-12">
                                                    <ul class="errorlist">
                                                        {% for field in form %}
                                                            {% if field.errors %}
                                                                {% for error in field.errors %}
                                                                    <li style="color: red;">{{error}}</li>
                                                                {% endfor %}
                                                            {% endif %}
                                                        {% endfor %}
                
                                                        <li style="color: red;">{{form.non_field_errors}}</li>
                                                    </ul>
                                                </div><!--end col-->                                             
                                            </div><!--end form-group--> 


                                            <div class="form-group row my-3">
                                                <div class="col-sm-12">
                                                    {% include 'includes/alerts.html' %}

                                                    
                                                </div><!--end col-->                                             
                                            </div><!--end form-group--> 



                
                                            <div class="form-group mb-0 row">
                                                <div class="col-12">
                                                    <button class="btn btn-primary w-100 waves-effect waves-light" value="submit" id="btn-next-restaurant-information">Register <i class="fas fa-sign-in-alt ms-1"></i></button>
                                                </div><!--end col--> 
                                            </div> <!--end form-group-->                           
                                        </form><!--end form-->
                                        <p class="my-3 text-muted">Already have an account ?<a href="{% url 'login' %}" class="text-primary ms-2">Log in</a></p>                                                    
                                    </div>
                                </div>
                            </div><!--end card-body-->
                            <div class="card-body bg-light-alt text-center">
                                <span class="text-muted d-none d-sm-inline-block">Telloquent © <script>
                                    document.write(new Date().getFullYear())
                                </script></span>                                            
                            </div>
                        </div><!--end card-->
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
    <!-- End Log In page -->
{% endblock body %}