
{% load static %}



<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Telloquent - Customer Registration</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="Workrheo - Customer Registrtaion" name="description" />
        <meta content="" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'accounts/assets/images/favicon.ico' %}">

        <!-- App css -->
        <link href="{% static 'accounts/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'accounts/assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'accounts/assets/css/app.min.css' %}" rel="stylesheet" type="text/css" />

    </head>

  
	{% block body %}
	{% endblock body%}
        


        <!-- jQuery  -->
        <script src="{% static 'accounts/assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'accounts/assets/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'accounts/assets/js/waves.js' %}"></script>
        <script src="{% static 'accounts/assets/js/feather.min.js' %}"></script>
        <script src="{% static 'accounts/assets/js/simplebar.min.js' %}"></script>




        
    </body>

</html>