{% load static %}


<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
    <!-- Metas -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Workrheo" />
    <!-- Links -->
    <link rel="icon" type="image/png" href="#" />
    <!-- google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">
    <!-- Plugins CSS -->
    <link href="{% static 'webapp/css/plugin.css' %}" rel="stylesheet" />
    <!-- style CSS -->
    <link href="{% static 'webapp/css/style.css' %}" rel="stylesheet" />
    <!--color switcher css-->
    <link rel="stylesheet" href="{% static 'webapp/css/switcher/skin-aqua.css' %}" media="screen" id="style-colors" />
    <!-- Document Title -->

    {% if '/' in request.path %}


    <script src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_API_KEY}}&libraries=places&callback=initAutoComplete" async defer></script>
    {% endif %}
    <script src="{% static 'accounts/assets/js/custom.js' %}"></script>
    <title>Telloquent </title>
</head>

{% block body %}

{% endblock body %} 


<div class="footer-wrapper no-pad-tb footer-fixed v1" style="background-image: url(images/bg/footer-bg-1.png)">
    <div class="overlay op-1"></div>
    <div class="footer-top-area section-padding">
        <div class="container">
            <div class="row nav-folderized">
                <div class="col-lg-3 col-md-12">
                    <div class="footer-logo">
                        <a href="/"> <img src="{% static 'webapp/images/logo-black.png' %}" alt="logo"></a>
                        <div class="company-desc">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio excepturi nam totam sequi, ipsam consequatur repudiandae libero illum.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="footer-content nav">
                        <h2 class="title">Helpful Links</h2>
                        <ul class="list">
                            <li><a class="link-hov style2" href="#">Login</a></li>
                            <li><a class="link-hov style2" href="#">My Account</a></li>
                            <li><a class="link-hov style2" href="#">Add Listing</a></li>
                            <li><a class="link-hov style2" href="#">Privacy policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="footer-content nav">
                        <h2 class="title">Category</h2>
                        <ul class="list">
                            <li><a class="link-hov style2" href="#">Shop</a></li>
                            <li><a class="link-hov style2" href="#">Travel</a></li>
                            <li><a class="link-hov style2" href="#">Sport</a></li>
                            <li><a class="link-hov style2" href="#">Restaurant</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="footer-content nav">
                        <h2 class="title">Contact us</h2>
                        <ul class="list footer-list">
                            <li>
                                <div class="contact-info">
                                    <div class="icon">
                                        <i class="ion-ios-location"></i>
                                    </div>
                                    <div class="text">619, 15th Cross Rd, Gangadhar Nagar, JP Nagar Phase 6, J. P. Nagar, Bengaluru, Karnataka 560078</div>
                                </div>
                            </li>
                            <li>
                                <div class="contact-info">
                                    <div class="icon">
                                        <i class="ion-email"></i>
                                    </div>
                                    <div class="text"><a href="/">hello@telloquent.com</a></div>
                                </div>
                            </li>
                            <li>
                                <div class="contact-info">
                                    <div class="icon">
                                        <i class="ion-ios-telephone"></i>
                                    </div>
                                    <div class="text">+91 99721 00100</div>
                                </div>
                            </li>
                        </ul>
                        <ul class="social-buttons style2">
                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="ion-social-pinterest"></i></a></li>
                            <li><a href="#"><i class="ion-social-youtube"></i></a></li>
                            <li><a href="#"><i class="ion-social-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center">
                    <p>&copy; 2019 Telloquent . All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Footer ends-->
<!--Color switcher starts-->
<div class="color-switcher hide-color-switcher">
    <a class="switcher-button"><i class="ion-android-settings"></i></a>
    <div class="color-switcher-title text-center">
        <h5>Switch Colors</h5>
    </div>
    <div class="color-list text-center">
        <a class="color green-theme" title="green"></a>
        <a class="color red-theme" title="red"></a>
        <a class="color blue-theme" title="blue"></a>
        <a class="color orange-theme" title="orange"></a>
        <a class="color pink-theme" title="pink"></a>
        <a class="color purple-theme" title="purple"></a>
        <a class="color violet-theme" title="violet"></a>
        <a class="color aqua-theme" title="aqua"></a>
    </div>
</div>
<!--Color switcher ends-->
<!--Scripts starts-->
<!--plugin js-->
<script src="{% static 'webapp/js/plugin.js' %}"></script>
<!--google maps-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_8C7p0Ws2gUu7wo0b6pK9Qu7LuzX2iWY&amp;libraries=places&amp;callback=initAutocomplete"></script>
<!--Main js-->
<script src="{% static 'webapp/js/main.js' %}"></script>
<!--Scripts ends-->
</body>

</html>
