{% extends 'ibase1.html' %}

{% load static %}



{% block body %}


<br>
<br>
<br>



<div id="page-title" class="page-title text-center">
    <div class="container">
        <div class="h-100 pt-12">
            <h1 class="mb-0" data-animate="fadeInDown">
                Partner With Us 
            </h1>
            <ul class="breadcrumb justify-content-center"
                data-animate="fadeInUp">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><span> Partner With Us </span></li>
            </ul>
        </div>
    </div>
</div>
<!-- #page-title end -->
<!-- #wrapper-content start -->
<div id="wrapper-content" class="wrapper-content pt-11 pb-13">
    <div class="container">
        <div class="page-description text-center text-dark font-size-h5 lh-1625">
            Telloquent provides you with a smart set of tools to showcase your business and connect to your
            community. Beautiful, simple and easy to use, Listable is a fun and friendly place to hook up with
            your customers.
        </div>
        <div class="how-it-work">
            <div class="row align-items-center mb-7">
                <div class="col-md-6 mb-4 mb-md-0">
                    <img src="{% static 'webapp/images/other/how-it-work-1.png' %}" alt="How it work 1">
                </div>
                <div class="col-md-6">
                    <h5 class="mb-4"> Are you a Designer ?</h5>
                    <div class="mb-5">A Telloquent product designed for Interior designers/firms that assists in growing your business and enhancing the overall customer experience.
                    </div>
                    <a href="{% url 'registerDesigner' %}" class="font-weight-semibold text-primary text-decoration-underline">Click here to join as Interior Design Partner</a>
                </div>
            </div>
            <div class="item row align-items-center mb-7">
                <div class="col-md-6  order-1 order-md-0 pr-0  pr-md-5">
                    <h5 class="mb-4">Are you a Architect?</h5>
                    <div class="mb-5">Do more with Telloquent. 

                        A Telloquent product for Architects and Architecture firms which lets them deliver an exceptional experience to Customers.
                    </div>
                    <a class="font-weight-semibold text-primary text-decoration-underline">Coming Soon</a>
                </div>
                <div class="col-md-6 mb-4 mb-md-0 order-0 order-md-1">
                    <img src="{% static 'webapp/images/other/how-it-work-2.png' %}" alt="How it work 2">
                </div>
            </div>
            <div class="item row align-items-center mb-7">
                <div class="col-md-6 mb-4 mb-md-0">
                    <img src="{% static 'webapp/images/other/how-it-work-3.png' %}" alt="How it work 3">
                </div>
                <div class="col-md-6 ">
                    <h5 class="mb-4">Are you Builder & Developer ?</h5>
                    <div class="mb-5">An intelligent Appointment management system for the Builders & Developers.
                        
                    </div>
                    <a class="font-weight-semibold text-primary text-decoration-underline">Coming Soon</a>
                </div>
            </div>
        </div>
        <div class="add-listing text-center pb-3">
            <h4 class="mb-7 px-6">Already have an account with Telloquent?</h4>
            <a href="{% url 'login' %}" class="btn btn-primary btn-block font-size-h4 btn-lg lh-16">Click here to login</a>
        </div>

    </div>
</div>


{% endblock body %}